/* ContactSection.css */


.contact-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-option {
  margin: 20px;
  width: calc(33.33% - 40px);
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.contact-icon {
  font-size: 36px;
  color: #666;
  margin-bottom: 10px;
}

.contact-info {
  text-align: center;
}

.contact-info h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.contact-button {
  background-color: #34A853;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #2F7B4F;
}

/* Add a separate style for the "Call us" button */
.contact-option:first-child .contact-button {
  background-color: #0097A7;
}

.contact-option:first-child .contact-button:hover {
  background-color: #00787A;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contact-option {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .contact-option {
    width: 100%;
  }
}