.footer {
  background-color: #08575f;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer h2{
  color: white;
  font-size: 35px;
  font-weight: 700;
}


.footer-content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  font-size: 15px;
}

.footer-left,
.footer-right {
  text-align: left;
}

.footer-links {
  list-style: none;
  padding: 0 15px 15px 15px;
  font-style: italic;
}

.footer-links li {
  display: inline-block;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}


@media only screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-right {
    text-align: center;
  }

  .footer-links {
    margin: 0 auto;
  }

  .footer-links li {
    display: block;
    margin-bottom: 10px;
  }

  .footer-social {
    margin: 0 auto;
  }

  .footer-social li {
    display: inline-block;
    margin-right: 10px;
  }
}

.footer-logo {
  width: 150px;
  height: auto;
  margin-top: 25px;
}
