.footer {
  background-color: #006769; /* Dark gray */
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer h1{
  color: white;
  font-size: 30px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left,
.footer-right {
  text-align: left;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links i {
  font-size: 18px;
  margin-right: 10px;
}


@media only screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-right {
    text-align: center;
  }

  .footer-links {
    margin: 0 auto;
  }

  .footer-links li {
    display: block;
    margin-bottom: 10px;
  }

  .footer-social {
    margin: 0 auto;
  }

  .footer-social li {
    display: inline-block;
    margin-right: 10px;
  }
}