/* src/Modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px; /* Increased border-radius for a more modern look */
    max-width: 500px;
    width: 100%;
    position: relative; /* Ensure relative positioning for absolute child */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Added box-shadow for depth */
}

.modal p {
    padding-top: 0; /* Remove top padding from paragraph */
    margin-top: 0; /* Remove any default margin */
    line-height: 1.5; /* Adjust line height for better readability */
    font-size: 1rem; /* Adjust font size as needed */
}

.modal-header {
    display: flex;
    justify-content: center; /* Center the title horizontally */
    align-items: center;
    margin-bottom: 0; /* Added space between header and content */
}

.modal-close {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: 1.5rem; /* Adjusted font size for close icon */
    position: absolute; /* Position close button absolute within .modal */
    top: 10px;
    right: 10px;
    color: #999; /* Light gray color for close icon */
}

.modal-close:hover {
    color: #555; /* Darken close icon on hover */
}

@media (max-width: 768px) { /* Adjust this breakpoint as per your design needs */
    .modal {
        width: 75%; /* Set width to 95% for mobile view */
        max-width: none; /* Remove max-width for mobile view */
    }
}
