/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* Initial background color */
  padding: 8px 20px; /* Adjusted padding */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 50px; /* Adjusted height */
  transition: background-color 0.3s ease, padding 0.3s ease, top 0.3s ease; /* Smooth transition for background color and other changes */
}

/* Add a class for the scrolled state */
.navbar.scrolled {
  background-color: #08575f; /* Background color when scrolled */
}


/* Branding */
.navbar-brand {
  font-size: 1.3em; /* Adjusted font size */
  font-weight: bold;
}

/* Links container */
.navbar-links {
  display: flex;
  align-items: center;
}

/* Links */
.navbar-links a {
  margin-left: 15px; /* Adjusted margin */
  color: white;
  text-decoration: none;
  font-size: 0.9em; /* Adjusted font size */
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #f1f1f1;
}

/* Dropdown container */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: #00796B;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9em; /* Adjusted font size */
  margin-left: 15px; /* Adjusted margin */
  padding: 8px 16px; /* Adjusted padding */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
  background-color: #005a4c;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: #00796B;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  width: 180px; /* Adjusted width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu button {
  background-color: white;
  color: #00796B;
  border: none;
  padding: 10px 16px; /* Adjusted padding */
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
  color: #005a4c;
}

/* Search container */
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto; /* Pushes the search container to the right */
}

.search-icon {
  background: none;
  border: none;
  font-size: 18px; /* Adjusted font size */
  color: white;
  cursor: pointer;
  padding-top: 5px;
  padding-right: 5px;
  margin-left: 8px; /* Adjusted margin */
}


/* Search input */
.search-input {
  padding: 10px 16px; /* Adjusted padding */
  border: 2px solid #00796B;
  border-radius: 40px; /* Adjusted border-radius */
  font-size: 0.9em; /* Adjusted font size */
  width: 160px; /* Fixed width for search input */
  outline: none;
  display: none; /* Initially hide the search input */
}

.search-input.active,
.search-input:focus {
  width: 120px; /* Adjusted width */
  display: block;
}

.clear-search {
  background: none;
  border: none;
  font-size: 1em; /* Adjusted font size */
  color: #aaa;
  cursor: pointer;
  position: absolute;
  right: 12px; /* Adjusted position */
}

.search-input:focus + .clear-search {
  display: block;
}

.clear-search:hover {
  color: #f44336;
}

/* Sidebar styles */
.sidebar {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  background-color: #00796B;
  color: white;
  padding-top: 50px; /* Adjusted padding-top */
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 1000;
}

.sidebar a {
  padding: 8px 12px; /* Adjusted padding */
  text-decoration: none;
  color: white;
  font-size: 0.9em; /* Adjusted font size */
  display: block;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #005a4c;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-toggle {
  background-color: #00796b00;
  color: white;
  border: none;
  font-size: 1.3em; /* Adjusted font size */
  cursor: pointer;
  display: none;
}

/* Close button inside sidebar */
.close-sidebar {
  position: absolute;
  top: 8px; /* Adjusted position */
  right: 8px; /* Adjusted position */
  background: none;
  border: none;
  font-size: 1.6em; /* Adjusted font size */
  color: white;
  cursor: pointer;
}

/* Show sidebar button and hide navbar links on mobile */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .search-container {
    margin-right: 8px; /* Adjust margin as needed */
  }

  .search-input {
    width: 100%;
    display: block; /* Show the search input in mobile view */
  }

  .clear-search {
    right: 8px; /* Adjusted position */
  }

  .sidebar-toggle {
    display: block;
  }

  .sidebar {
    display: flex;
  }

  .dropdown.always-open .dropdown-menu {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    background-color: transparent;
    color: white;
    border: none;
    width: auto;
    box-shadow: none;
  }

  .dropdown.always-open .dropdown-menu button {
    background-color: transparent;
    color: white;
  }

  .dropdown.always-open .dropdown-menu button:hover {
    background-color: #005a4c;
    color: white;
  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.backdrop.show {
  display: block;
}

/* Styles for search results */
#search-results {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: white;
  color: #00796B;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  width: auto;
  z-index: 1001;
}

#search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-results li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#search-results li:last-child {
  border-bottom: none;
}

