/* src/OrderChart.css */

.services .section-title p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.services .table-responsive {
  overflow-x: auto;
}

.services .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Rounded corners for modern look */
  
}

.services .table th,
.services .table td {
  padding: 12px 15px;
  border-bottom: 1px solid #e6e6e6;
}

.services .table th {
  background-color: #006769; /* Background color for table headers */
  color: #ffffff; /* Text color for table headers */
  font-weight: 700;
  text-transform: uppercase; /* Uppercase headings */
}

.services .table td {
  font-weight: bold;
  text-align: left; 
}

/* Alternating row colors in blocks of four */
.services .table tbody tr:nth-child(4n+1),
.services .table tbody tr:nth-child(4n+2),
.services .table tbody tr:nth-child(4n+3),
.services .table tbody tr:nth-child(4n+4) {
  background-color: #f1fdff; /* Color for first block of four rows */
}

.services .table tbody tr:nth-child(8n+5),
.services .table tbody tr:nth-child(8n+6),
.services .table tbody tr:nth-child(8n+7),
.services .table tbody tr:nth-child(8n+8) {
  background-color: #fbfff1; /* Color for second block of four rows */
}

@media (max-width: 768px) {
  .services .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0;
  }
}

/* Center align specific cells */
.services .table .center-align {
  text-align: center;
}
