.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.loading {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #006769;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.view-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.view-more:hover {
  background-color: #005c55;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
}

.search-input {
  width: calc(100% - 40px);
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #00796b;
  box-shadow: 0 0 10px rgba(0, 255, 229, 0.5);
  outline: none;
}

.search-input.active {
  border-color: #00796b;
}

.clear-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.search-input:focus + .clear-search,
.clear-search:hover {
  color: #00796b;
}
